---
import A from "@/assets/square_alphabet/A.astro";
import B from "@/assets/square_alphabet/B.astro";
import C from "@/assets/square_alphabet/C.astro";
import E from "@/assets/square_alphabet/E.astro";
import K from "@/assets/square_alphabet/K.astro";
import M from "@/assets/square_alphabet/M.astro";
import N from "@/assets/square_alphabet/N.astro";
import O from "@/assets/square_alphabet/O.astro";
import S from "@/assets/square_alphabet/S.astro";

const textSize = 150;
// todo: somehow in this file tailwind does not work
// placeholder: flex p-3 w-full h-full items-center justify-center gap-2
// text-row: flex flex-row gap-5
---

<div class="placeholder">
  <div class="text-row">
    <C 
      width={textSize} 
      height={textSize}
      fill="hsl(142deg 71% 65%)"
    /> 
    <O 
      width={textSize}
      height={textSize}
      fill="hsl(142deg 71% 65%)"
    /> 
    <M 
      width={textSize}
      height={textSize}
      fill="hsl(142deg 71% 65%)"
    />
    <E 
      width={textSize} 
      height={textSize}
      fill="hsl(142deg 71% 65%)"
    />
  </div>
  <div class="text-row">
    <B
      width={textSize}
      height={textSize}
      fill="hsl(164deg 100% 44%)"
    />
    <A 
      width={textSize} 
      height={textSize} 
      fill="hsl(164deg 100% 44%)"
    />
    <C 
      width={textSize}
      height={textSize}
      fill="hsl(164deg 100% 44%)"
    />
    <K 
      width={textSize}
      height={textSize}
      fill="hsl(164deg 100% 44%)"
    />
  </div>
  <div class="text-row">
    <S
      width={textSize}
      height={textSize}
      fill="hsl(171deg 100% 43%)"
    />
    <O
      width={textSize}
      height={textSize}
      fill="hsl(171deg 100% 43%)"
    />
    <O
      width={textSize}
      height={textSize}
      fill="hsl(171deg 100% 43%)"
    />
    <N
      width={textSize}
      height={textSize}
      fill="hsl(171deg 100% 43%)"
    />
  </div>
</div>

<style>
  .placeholder {
    align-items: center;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100vh;
    justify-content: center;
    padding: 10px;
    width: 100vw;
  }

  .text-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
</style>